:root {
    font-family: "playfairLight";
}
@font-face {
    font-family: playfairLight;
    src: url("../Public/Fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
    font-family: playfairBold;
    src: url("../Public/Fonts/PlayfairDisplay-Medium.ttf");
}
/***** Start header part *****/

.logo img {
    max-width: 160px;
}
header .navbar .nav {
    color: #000;
    display: flex;
    gap: 25px;
}
header .navbar .hamburger {
    display: none;
    cursor: pointer;
}
header .navbar .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}
@media (max-width: 768px) {
    header .header-info {
        margin: 0 auto;
    }
    header .navbar .hamburger {
        display: block;
    }
    header .navbar .hamburger:active .bar:nth-child(2) {
        opacity: 0;
    }
    header .navbar .hamburger:active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    header .navbar .hamburger:active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    header .navbar .nav {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    header .navbar .nav .nav-item {
        margin: 16px 0;
    }
    header .navbar .nav:active {
        left: 0;
    }
}
header .navbar .nav .nav-item {
    position: relative;
}
header .navbar .nav .nav-item a {
    transition: 0.7s ease;
}

header .navbar .nav .nav-item::before {
    content: "";
    height: 1.5px;
    width: 0;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}
header .navbar .nav .nav-item:hover::before {
    width: 100%;
}

header .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    gap: 10vw;
}
header .header-info {
    color: #fff;
    position: absolute;
    right: 13%;
    top: 20%;
    text-align: center;
    line-height: 60px;
}
header .header-info a {
    border: 1px solid white;
    padding: 10px;
}
main .main-img {
    margin: 2rem 0;
    max-height: 474px;
}
main .container {
    padding: 5rem 15rem;
}
main .container .comb-info {
    /* max-width: 832px; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* margin: 6rem auto; */
}
main .container .comb-info h1 {
    text-align: center;
    padding-bottom: 3rem;
}
main .container .brush-type {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main .container .brush-type .brush-img {
    max-width: 517px;
    margin: 0 auto;
}
main .container .brush-type .brush-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
@media (max-width: 992px) {
    main .container {
        padding: 1rem 5rem;
    }
}
@media (max-width: 575px) {
    main .container {
        padding: 0rem 2rem;
    }
}
.fw-700 {
    font-weight: 700;
}
footer {
    background-color: #2f2f2f;
    color: white;
    padding: 2rem 5rem;
    margin-top: 3rem;
}
footer .footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}
footer .footer-menu .menu-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}
footer .footer-menu .menu-side .menu-links {
    position: relative;
}
footer .footer-menu .menu-side .menu-links::before {
    content: "";
    height: 1.5px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}
footer .footer-menu .menu-side .menu-links:hover::before {
    width: 100%;
}
footer .footer-menu .menu-side:nth-child(2),
.menu-side:last-child {
    border-left: 2px solid grey;
}
footer .end-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    gap: 7px;
}
@media (max-width: 768px) {
    footer .footer-menu {
        flex-direction: column;
        padding: 0;
    }
    footer .footer-menu .menu-side {
        padding: 1rem 0;
    }
    footer .footer-menu .menu-side:nth-child(2),
    .menu-side:last-child {
        border: none;
    }
    footer .footer-menu .menu-side:nth-child(2),
    .menu-side:first-child {
        border-bottom: 2px solid grey;
    }
}
